* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:auto;
}

.form_container{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 150vh;
    height: auto;
    margin: 100px auto;
}

.form_content{
    display: flex;
    flex-direction: column;
    height: 100%;;
}

label{
    font-size: 15px;
    margin-bottom: 10px;
}

h2{
    margin-bottom: 20px;
}

fieldset{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

legend{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.questions_container{
    margin-top: 20px;
}

.question{
    width: 100%;
    margin-top: 10px;
}

.question p{
    display: block;
    margin-bottom: 30px;
    font-weight: bold;
}

button{
    font-size: 1rem;
    background: #000000;
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    outline: none;
    color: white;
}

button:hover {
    transform: scale(1.05);
}

.others{
    display: inline-block;
    margin-top: 10px;
}


