*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

.navbar{
    background: #ffffff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    margin-top: -20px;
}

.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

#navbar_logo{
    background: #6a11cb;
    background: -webkit-linear-gradient(
        to right, 
        #6a11cb,#2575fc
        );
    background: linear-gradient(
        to right, 
        #6a11cb,#2575fc
        );
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.8rem;
}

.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar_item{
    height: 80px;
}

.navbar_links{
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #6a11cb;
    background: -webkit-linear-gradient(
        to right, 
        #6a11cb,#2575fc
        );
    background: linear-gradient(
        to right, 
        #6a11cb,#2575fc
        );
    color: #fff;
    transition: all 0.3s ease;
}

.navbar_links:hover{
    color: #9518fc;
    transition: all 0.3s ease;
}

.animated-text {
    font-size: 3rem;
    opacity: 0;
    transform: translateX(-150px);
    transition: all 0.5s ease;
    animation: slideIn 2.5s ease-out forwards;
}


@keyframes slideIn {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Hero Section */
.hero {
    width: 100%; /* Ensures background spans full screen */
    background-image: 
        linear-gradient(rgba(18, 26, 18, 0.7)), 
        url('../images/hero_image.jpg');
    background-size: cover;
    background-position: center;
    padding: 80px 0;
}

.hero_container{
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}

.hero_heading{
    font-size: 100px;
    margin-bottom: 24px;
    color: #fff;
}

.hero_heading span{
    background: #25f1fc;
    background: -webkit-linear-gradient(
        to right, 
        #25f1fc,#5493fe
        );
    background: linear-gradient(
        to right, 
        #25f1fc,#5493fe
        );
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.hero_description{
    font-size: 30px;
    background: #D1D1D1;
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.highlights{
    border-bottom: 4px solid rgb(132, 0 , 255);
}

/* About Section */
.main{
    background-color: #ffffff;
    padding: 10rem 0;
}

.main_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main_content{
    color: #fff;
    width: 100%;
}

.main_content h1 {
    font-size: 2rem;
    background-color: #000b82;
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.main_content h2{
    font-size: 4rem;
    background: #4A4A4A;
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main_content p{
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #988f8f;
}

.main_btn{
    font-size: 1.8rem;
    background: #6a11cb;
    background: -webkit-linear-gradient(
        to right, 
        #6a11cb,#2575fc
        );
    background: linear-gradient(
        to right, 
        #6a11cb,#2575fc
        );
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    outline: none;
}

.main_btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main_btn:after {
    position: absolute;
    content:'';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #5a7ddc;
    transition: all 0.35s;
    border-radius: 4px;
}

.main_btn:hover {
    color: #fff;
    transform: scale(1.05);
}

.main_btn:hover:after {
    width: 100%;
}

.main_img--container {
    text-align: center;
}

.main_img--card {
    margin: 10px;
    height: 500px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../images/white-reusable-water-bottle.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} 

#card-2{
    background-image: url('../images/499.jpg');
    background-size: cover;
    background-position: center;
}

/* Services Section */
.services{
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10rem 0;
}

.services h1{
    background-color: #6a11cb;
    background: -webkit-linear-gradient(
        to right, 
        #6a11cb 0%,#2575fc 100%
        );
    background: linear-gradient(
        to right, 
        #6a11cb 0%,#2575fc 100%
        );
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; 
    margin-bottom: 5rem;  
    font-size: 2.5rem;
}

.services_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.services_card{
    margin: 10px;
    height: 425px;
    width: 280px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000000;
    background-image: url('../images/bottle1.jpg');
    background-size: cover;
    background-position: center;
    transition: 0.3s ease-in;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.services_card:nth-child(2) {
    color: #ffffff;
    background-image: url('../images/close-up-hand-with-drink-bottles.jpg');
    background-size: cover;
    background-position: center;
    transition: 0.3s ease-in;

}

.services_card:nth-child(3) {
    color: #ffffff;
    background-image: url('../images/bottle-beer-desk.jpg');
    background-size: cover;
    background-position: center;
    transition: 0.3s ease-in;
}

.services_card:nth-child(4) {
    color: #000000;
    background-image: url('../images/white-sports-bottle-equipment.jpg');
    background-size: cover;
    background-position: center;
    transition: 0.3s ease-in;
}
    .services_card h2 {
        text-align: center;
    }

    .services_card p {
        text-align: center;
        margin-top: 24px;
        font-size: 20px;
    }

    .services_btn {
        display: flex;
        justify-content: center;
        margin-top: 16px;
    }

    .services_card button{
        color: #fff;
        padding: 14px 24px;
        border: none;
        outline: none;
        border-radius: 4px;
        background: #131313;
        font-size: 1rem;
    }

    .services_card button:hover{
        cursor: pointer;
    }

    .services_card:hover {
        transform: scale(1.075);
        transition: 0.3s ease-in;
        cursor: pointer;

    }

/* Footer Section */
.footer_container {
    background-color: #1c1a1a;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer_logo{
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer_links{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer_links--wrapper{
    display: flex;
}

.footer_links--items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer_links--items h2{
    margin-bottom: 16px;
    color: #fff;
}

.footer_links--items a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: 0.3 ease-out;
}

.footer_links--items a:hover {
    color: #31cbdf;
    transition: 0.3 ease-out;
}

.website_rights{
    color: #fff;
}
